<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/movies">Go to movies</a>
      <h1 class="display-3">App demo</h1>
      <p>movies</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/register">Signup with email</a> 
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/login">Login with email</a> 
        <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/facebook-login">Signup/login with facebook</a>
      </p>       
    </div>
  </div>
</main>
